*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: auto;
    width: 100%;
    border: 2px solid red;
    display: flex;
}
.col{
    width: 25%;
    height: 300px;
    background: red;
    border: 1px solid black;
}
@media (min-width:800px) and (max-width:1024px){
    .container{
        flex-wrap: wrap;
    }
    .col{
        width: 50%;
        height: 300px;
        background: blue;
        border: 1px solid black;
    }
}
@media (max-width:800px){
    .col{
        width: 100%;
        background: green;
    }
    .container{
        flex-wrap: wrap;
    }
}